.welcome-card img {
  max-height: 15vh;
  overflow: hidden;
}

.appInfo {
	color: orange;
	margin-left: 10%;
	margin-right: 10%;
}

.labelInfo {
	color: orange;
	font-size: 1.25em;
	margin-left: 0;
}

.toggleInfo{
	color: orange;
	font-size: 1.5em;
}